<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Помилка 403</title>
    <link rel="stylesheet" href="/css/error/error.css" type="text/css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <h1><%= message %></h1>
    <h2>Error 403</h2>
  </body>
</html>
