.product {
  text-align: center;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 800px; 
  margin: 20px auto;
}

.product div {
  margin-bottom: 6px;
}

.product:last-child {
  border-bottom: none;
}

.product-images {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.product-images img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.clear-form {
  text-align: center;
  border: none;
}

#btn-delete, #clear-cart {
  text-align: center;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  color: white;
}


#clear-cart {
  width: 140px;
  height: 75px;
}

#btn-delete:hover, #clear-cart:hover {
  background-color: #c53228;
  transition: background-color 0.3s ease;
}